@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700;800&display=swap');

:root {
  --background-color: rgb(255, 240, 231);
  --color1: rgb(94, 45, 45);
  --color2: rgb(255, 234, 209);
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
}

/* Navbar */
.navbar {
  z-index: 999;
  transition: 0.5s;
}

.navbar-brand img {
  width: 80px;
}

.navbar .navbar-nav li a {
  font-size: 1rem;
  font-weight: 500;
}

/* Main */
.blog-detail-container {
  padding-top: 5rem;
  box-sizing: border-box;
}

/* Left */
.blog-detail-container .left-container {
  padding-right: 10px;
}

.blog-detail-container .left-container .top-detail-item {
  cursor: pointer;
}

@media (max-width: 500px) {
  .blog-detail-container .left-container .top-detail-item span {
    font-size: 0.8rem;
  }
}

.blog-detail-container .left-blog {
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  /* padding: 10px; */
  overflow: hidden;
}

.blog-detail-container .left-blog img {
  width: 100%;
}

.blog-detail-container .left-blog .blog-desc {
  text-indent: 10%;
  padding: 20px;
}

.blog-detail-container .left-blog .other-article h4 {
  font-size: 2rem;
  padding: 20px;
}

@media (max-width: 500px) {
  .blog-detail-container .left-blog .other-article h4 {
    font-size: 1.5rem;
    text-align: center;
  }
}

.blog-detail-container .left-blog .other-article .article {
  /* border: 1px solid red; */
  width: 220px;
}

.blog-detail-container .left-blog .other-article .article img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.blog-detail-container .left-blog .other-article .article .article-title {
  padding-top: 0.5rem;
  font-weight: 600;
}

.blog-detail-container .left-blog .other-article .article .article-desc {
  font-size: 0.9rem;
}

@media (max-width: 480px) {
  .blog-detail-container .left-blog .other-article .article-container {
    flex-direction: column;
  }
  .blog-detail-container .left-blog .other-article .article {
    width: 100%;
    display: flex;
    padding-left: 0.5rem;
  }
  .blog-detail-container .left-blog .other-article .article a {
    width: 50vw;
  }
  .blog-detail-container .left-blog .other-article .article img {
    width: 100%;
  }
  .blog-detail-container .left-blog .other-article .article .article-title {
    padding: 0;
    padding: 0 1rem;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .blog-detail-container .left-blog .other-article .article .article-desc {
    font-size: 0.7rem;
    padding: 0 1rem;
  }
}

/* Comments */
.comment-container {
  padding: 3rem 0;
}

.comment-container h3 {
  font-size: 2rem;
  padding: 10px;
}

.comment-container .comment {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.comment-container .comment-icon i {
  font-size: 3rem;
  padding-right: 1rem;
}

.comment-container .title {
  font-family: 'Bitter', serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.comment-container .comment .date {
  padding-top: -0.8rem;
  color: #777;
  font-size: 0.8rem;
}

.comment-container .comment .text {
  margin-top: -0.3rem;
}

@media (max-width: 500px) {
  .comment-container h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  .comment-container .title {
    font-size: 1.1rem;
  }
  .comment-container .comment .date {
    font-size: 0.7rem;
  }
  .comment-container .comment .text {
    font-size: 0.8rem;
  }
}

/* Right */

.blog-detail-container .right-lol {
  padding: 5px;
}
.blog-detail-container .right-lol .running-text {
  font-size: 2rem;
  font-family: 'Bitter', serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: purple;
  text-shadow: 2px 1px 0px #fff, 3px 2px 0px rgba(0, 0, 0, 0.15);
}

.blog-detail-container .right-profile {
  border-radius: 1px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.blog-detail-container .right-profile .fa-user {
  font-size: 2rem;
  padding-right: 0.5rem;
}

.blog-detail-container .right-profile .read-more {
  color: orangered;
  cursor: pointer;
  font-weight: 600;
}

.blog-detail-container .right-profile .read-more i {
  transition: 0.5s;
}

.blog-detail-container .right-profile .read-more:hover i {
  transform: translateX(10px);
  color: orangered;
}

/* Footer */
footer {
  margin: 0;
  padding: 0;
  margin-top: 5rem;
  border: 1px solid #333;
}

footer h5 {
  text-align: center;
  padding-top: 1rem;
}

footer .top-about,
footer .top-sosmed {
  color: white;
}

footer .list-container {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

footer .list-container p {
  font-size: 0.8rem;
  margin-right: 1rem;
  color: #bbb;
  cursor: pointer;
  transition: 0.2s;
}

footer .list-container p:hover {
  color: white;
}

footer .top-sosmed i {
  margin-right: 0.5rem;
  font-size: 1rem;
}

footer .top-sosmed a {
  text-decoration: none;
  color: #bbb;
}

footer .top-sosmed a:hover {
  color: white;
}

@media (min-width: 768px) {
  footer h5 {
    font-size: 1.5rem;
    text-align: start;
  }
  footer .top .container {
    display: flex;
    justify-content: space-around;
  }
  footer .list-container {
    flex-direction: column;
    justify-content: flex-end;
  }
  footer .list-container p {
    font-size: 1rem;
  }
}

/* footer bottom */
footer .bottom {
  border-top: 1px solid gray;
  margin-top: 1rem;
}

footer .bottom p {
  color: white;
  font-size: 1rem;
  padding: 1rem 0;
}

@media (max-width: 768px) {
  footer .bottom p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }
}
