@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700;800&display=swap");

:root {
  --background-color: rgb(255, 240, 231);
  --color1: rgb(94, 45, 45);
  --color2: rgb(255, 234, 209);
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
}

/* Navbar */
.navbar {
  z-index: 999;
  transition: 0.5s;
}

.navbar-brand img {
  width: 80px;
}

@media (max-width: 991px) {
  .navbar .navbar-brand {
    /* border: 2px solid white; */
    padding-bottom: 30px;
  }
}

.navbar .navbar-nav li a {
  font-size: 1rem;
  font-weight: 500;
}

/* Hero */
.hero {
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
}

.video-bg {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.video-bg video {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
  filter: brightness(70%);
  transform: scale(1.2);
}

@media (max-width: 500px) {
}

@media (max-width: 350px) {
  .video-bg video {
    transform: translateX(-20rem);
  }
}

.hero .hero-content {
  margin-top: 10rem;
  position: absolute;
}

.hero .hero-content a {
  color: white;
  transition: 0.2s;
}

.hero .hero-content a:hover {
  color: black;
  background-color: white;
}

/* Carousel */
.caro-container {
  padding-top: 5rem;
}

.carousel {
  width: 60vw;
  font-family: Arial, Helvetica, sans-serif;
}

.carousel-item img {
  filter: brightness(80%);
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  margin: 10px;
  width: 97%;
}

.carousel-item h5 {
  font-size: 1.3rem;
  font-weight: 600;
}

@media (max-width: 500px) {
  .carousel {
    width: 100%;
  }
}

/* Special Offers */
.special-offers-container {
  padding-top: 5rem;
}

.card-container {
  width: max-content;
  height: 400px;
  overflow-x: auto;
  position: relative;
}

.card {
  background-color: var(--background-color);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 330px;
  border: none;
  outline: none;
  overflow: hidden;
  margin: 10px;
}

.card-body {
  position: relative;
}

.card .card-body .star-container {
  margin-bottom: 10px;
}
.card .card-body .star-container > * {
  color: gold;
  font-size: 0.8rem;
}

.card .card-body a {
  background-color: var(--color1);
  border-radius: 30px;
  padding: 0 30px;
  border: none;
  outline: none;
  transition: 0.2s;
  margin-bottom: 10px;
  border: 2px solid var(--color1);
  color: white;
}

.card .card-body a:hover {
  background-color: var(--background-color);
  color: var(--color1);
  font-weight: 600;
}

.card .card-body .price {
  position: absolute;
  bottom: 9px;
  right: 10px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.card .card-body .price span {
  font-size: 1.5rem;
  letter-spacing: -1px;
  font-weight: 700;
  color: var(--color1);
  margin-left: 10px;
}

@media (max-width: 500px) {
  .card {
    width: 250px;
    height: 310px;
  }
  .card .card-body .price {
    bottom: 18px;
    font-size: 1rem;
  }
  .card .card-body .price span {
    font-size: 1.3rem;
    letter-spacing: -1px;
    font-weight: 700;
    color: var(--color1);
  }
}

/* Blog */
.blog-container {
  padding-top: 5rem;
}

.blog-content {
  max-height: 710px;
  overflow-y: auto;
  overflow-x: hidden;
}

.blog-content .blog {
  margin: 0.5rem 0;
}
.blog-content .blog-content-desc {
  padding: 0 8px;
}

.blog-content .blog img {
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.blog-content .blog img:hover {
  transform: scale(1.05);
}

.blog-content .blog h5 {
  font-family: "Bitter", serif;
  font-size: 1.3rem;
  font-weight: 700;
}

.blog-content .blog-content-desc p {
  font-size: 0.8rem;
  line-height: 1.3;
  width: 80%;
  height: 35px;
  overflow: hidden;
  margin: 0;
  margin-bottom: 7px;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
}

.blog-content .blog-content-desc a {
  text-decoration: none;
  color: orangered;
  cursor: pointer;
  font-weight: 600;
}
.blog-content .blog-content-desc a i {
  transition: 0.5s;
}

.blog-content .blog-content-desc a:hover i {
  transform: translateX(10px);
  color: orangered;
}
.blog-content .blog-content-desc a:hover {
  color: orangered;
}

@media (max-width: 500px) {
  .blog-content .blog img {
    width: 150px;
  }
  .blog-content .blog-content-desc p {
    width: 50vw;
  }
  .blog-content .blog-content-desc a {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .blog {
    flex-direction: column;
  }
  .blog-content .blog h5 {
    margin-top: 10px;
  }
  .blog-content .blog-content-desc {
    padding: 0;
  }
  .blog-content .blog-content-desc p {
    width: 85vw;
  }
}

/* khusus blog besar */
@media (min-width: 992px) {
  .blog-content .blog.main {
    flex-direction: column;
  }
  .blog-content .blog.main .blog-content-desc {
    padding: 0;
  }
  .blog-content .blog.main img {
    width: 100%;
  }
  .blog-content .blog.main h5 {
    margin-top: 20px;
    font-size: 1.5rem;
  }
}

/* Gallery */
.gallery-container {
  padding-top: 5rem;
}

.img-container {
  width: max-content;
}

.gallery-content img {
  width: 200px;
  margin: -3px;
}

@media (max-width: 500px) {
  .gallery-content img {
    width: 34vw;
  }
}

@media (max-width: 320px) {
  .gallery-content img {
    width: 51vw;
  }
}

/* Footer */
footer {
  margin: 0;
  padding: 0;
  margin-top: 5rem;
  border: 1px solid #333;
}

footer h5 {
  text-align: center;
  padding-top: 1rem;
}

footer .top-about,
footer .top-sosmed {
  color: white;
}

footer .list-container {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

footer .list-container p {
  font-size: 0.8rem;
  margin-right: 1rem;
  color: #bbb;
  cursor: pointer;
  transition: 0.2s;
}

footer .list-container p:hover {
  color: white;
}

footer .top-sosmed i {
  margin-right: 0.5rem;
  font-size: 1rem;
}

footer .top-sosmed a {
  text-decoration: none;
  color: #bbb;
}

footer .top-sosmed a:hover {
  color: white;
}

@media (min-width: 768px) {
  footer h5 {
    font-size: 1.5rem;
    text-align: start;
  }
  footer .top .container {
    display: flex;
    justify-content: space-around;
  }
  footer .list-container {
    flex-direction: column;
    justify-content: flex-end;
  }
  footer .list-container p {
    font-size: 1rem;
  }
}

/* footer bottom */
footer .bottom {
  border-top: 1px solid gray;
  margin-top: 1rem;
}

footer .bottom p {
  color: white;
  font-size: 1rem;
  padding: 1rem 0;
}

@media (max-width: 768px) {
  footer .bottom p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }
}

/* Another */
.section-title {
  font-family: "Bitter", serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.5rem;
  color: var(--color1);
}

.section-desc {
  text-align: center;
  font-size: 1.3rem;
  padding: 0 10px;
}

@media (max-width: 500px) {
  .section-title {
    font-size: 2rem;
  }

  .section-desc {
    font-size: 0.9rem;
  }
}
